services:
  db:
    image: postgres:15-alpine
    container_name: cge_postgres
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}" ]
      interval: 10s
      timeout: 5s
      retries: 5

  server:
    build: ./server
    container_name: cge_api
    command: sh -c "npm install && node src/index.js"
    restart: always
    ports:
      - "3001:3000"
    env_file:
      - .env
    environment:
      - DATABASE_URL=postgres://${POSTGRES_USER:-cge_admin}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB:-cge_incidencias}
      - JWT_SECRET=${JWT_SECRET}
      - REDIS_HOST=redis
      - NODE_ENV=production
      - PORT=3000
    dns:
      - 8.8.8.8
      - 1.1.1.1

    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./server:/app
      - /app/node_modules

  redis:
    image: redis:alpine
    container_name: cge_redis
    restart: always
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data

  client:
    build: ./client
    container_name: cge_client
    restart: always
    ports:
      - "5174:5173"
    environment:
      - VITE_API_URL=${VITE_API_URL:-https://consultas.cge.mil.ar}
      - VITE_BOT_NUMBER=${VITE_BOT_NUMBER}
    volumes:
      - ./client:/app
      - /app/node_modules

  whisper:
    build: ./whisper
    container_name: cge_whisper
    restart: always
    ports:
      - "5000:5000"
    volumes:
      - whisper_models:/root/.cache/huggingface

volumes:
  postgres_data:
  redis_data:
  whisper_models:
