version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: cge_postgres
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}" ]
      interval: 10s
      timeout: 5s
      retries: 5

  server:
    build: ./server
    container_name: cge_api
    command: node src/index.js
    restart: always
    ports:
      - "3001:3000"
    env_file:
      - .env
    environment:
      - DATABASE_URL=postgres://${POSTGRES_USER:-cge_admin}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB:-cge_incidencias}
      - JWT_SECRET=${JWT_SECRET}
      - NODE_ENV=production

    depends_on:
      db:
        condition: service_healthy
    volumes:
      - ./server:/app
      - /app/node_modules

  client:
    build: ./client
    container_name: cge_client
    restart: always
    ports:
      - "5174:5173"
    environment:
      - VITE_API_URL=${VITE_API_URL:-https://consultas.cge.mil.ar}
      - VITE_BOT_NUMBER=${VITE_BOT_NUMBER}
    volumes:
      - ./client:/app
      - /app/node_modules

volumes:
  postgres_data:
